@font-face {
	font-family: "Muller-Reg";
	src: url("../fonts/Muller/Regular/MullerRegular.eot");
	src: url("../fonts/Muller/Regular/MullerRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/Muller/Regular/MullerRegular.woff2") format("woff2"), url("../fonts/Muller/Regular/MullerRegular.woff") format("woff"), url("../fonts/Muller/Regular/MullerRegular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Muller-Bold";
	src: url("../fonts/Muller/Bold/MullerBold.eot");
	src: url("../fonts/Muller/Bold/MullerBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Muller/Bold/MullerBold.woff2") format("woff2"), url("../fonts/Muller/Bold/MullerBold.woff") format("woff"), url("../fonts/Muller/Bold/MullerBold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Muller-XBold";
	src: url("../fonts/Muller/ExtraBold/MullerExtraBold.eot");
	src: url("../fonts/Muller/ExtraBold/MullerExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Muller/ExtraBold/MullerExtraBold.woff2") format("woff2"), url("../fonts/Muller/ExtraBold/MullerExtraBold.woff") format("woff"), url("../fonts/Muller/ExtraBold/MullerExtraBold.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
}
html {
	font-size: 10px;
}

body {
	font-family: "Muller-Reg";
	font-size: 16px;
	color: #000000;
	overflow-x: hidden;
}

section {
	padding: 35px 0;
}

a {
	transition: color 0.3s;
	color: inherit;
}
a:hover {
	text-decoration: none;
}

input:focus, button:focus, a:focus, textarea:focus {
	outline: none;
}

textarea {
	resize: none;
}

.slick-active:focus {
	outline: none;
}

.section-title {
	position: relative;
	padding: 20px 0;
	text-align: center;
	color: #FFCC16;
	font-family: "Muller-Bold";
	font-size: 42px;
	font-style: normal;
	line-height: 131%;
	letter-spacing: 0.6em;
	text-transform: uppercase;
	text-shadow: -2px 2px 0px black;
}

.btn {
	position: relative;
	font-size: 24px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	padding: 14px 45px;
	font-family: "Muller-Bold";
	border: none;
	transition: background-color 0.3s, color 0.3s, transform 0.1s;
	background-color: #FF2C2C;
	color: #FFFFFF;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
.btn:hover {
	background-color: #FFFFFF;
	color: #000000;
}
.btn:active {
	transform: translateY(2px);
}

.bold {
	font-family: "Muller-XBold";
}

.h-100 {
	height: 100%;
}

.box {
	position: relative;
	display: inline-block;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.7);
	background-image: url("../img/main/case-bg.png");
	background-repeat: repeat;
	background-color: #f0f0f0;
}
.box-header {
	padding: 15px 0 1px;
	background-color: #FFCC16;
	mix-blend-mode: multiply;
}
.box-title {
	text-align: center;
	font-family: "Muller-XBold";
	font-size: 32px;
	line-height: 1;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}
.box-body {
	padding: 20px;
}
.box-text {
	text-align: center;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.05em;
}
.box_block {
	display: block;
}

.main-menu-wrap {
	position: fixed;
	width: 100%;
	padding: 5px 0 15px;
	background-color: #000000;
	border-radius: 0 0 55px 55px;
	z-index: 200;
}

.absolute-image {
	position: absolute;
	z-index: 10;
}

.works {
	padding: 0;
	height: 100vh;
	background-image: url("../img/works/main-bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.works-content {
	display: flex;
	align-items: flex-end;
	height: 100%;
}
.works-content-inner {
	text-align: center;
}
.works-gradient {
	padding: 35px 0;
	height: 100%;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}
.works-title {
	font-family: "Muller-XBold";
	text-transform: uppercase;
	font-size: 72px;
	line-height: 131%;
	letter-spacing: 0.31em;
	color: #FFCC16;
	margin-bottom: 15px;
}
.works-subtitle {
	text-align: center;
	font-size: 24px;
	line-height: 131%;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	width: 94%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

.case-content {
	padding-top: 45px;
	display: flex;
	justify-content: space-between;
}
.case-box {
	margin-bottom: 35px;
}
.case-box-img {
	width: 100%;
	border: 1px solid silver;
}
.case-box-img-wrap {
	max-height: 300px;
	margin-bottom: 22px;
}
.case-box-price {
	background-color: #FFCC16;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
.case-box-price-title {
	display: inline-block;
	text-align: center;
	width: 58%;
	font-size: 20px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
.case-box-price-value {
	display: inline-block;
	width: 42%;
	text-align: center;
	background-color: #FFFFFF;
	font-size: 30px;
	line-height: 1.55;
	letter-spacing: 0.05em;
}
.case-half {
	display: inline-block;
	width: 48%;
}
.case-half-right {
	margin-top: 170px;
}

#case-screwdriver {
	top: -200px;
	left: -240px;
}

#case-turn-screw {
	top: -305px;
	right: -260px;
	left: auto;
}

#case-helmet {
	top: -170px;
	left: -180px;
}

@media (max-width: 1199.9px) {
	.main-menu {
		text-align: center;
	}

	.absolute-image {
		display: none;
	}

	.btn {
		font-size: 22px;
	}
}
@media (max-width: 991.9px) {
	.section-title {
		font-size: 38px;
	}

	.box-title {
		font-size: 30px;
	}

	.btn {
		font-size: 17px;
	}
}
@media (max-width: 767.9px) {
	.section-title {
		font-size: 34px;
	}

	.btn {
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 16px;
	}

	.box-title {
		font-size: 28px;
	}
	.box-text {
		font-size: 17px;
	}
	.box-price-title {
		font-size: 18px;
	}
	.box-price-value {
		font-size: 28px;
	}
}
@media (max-width: 575.9px) {
	.section-title {
		font-size: 32px;
		letter-spacing: 0.25em;
	}

	.box-title {
		font-size: 24px;
	}
	.box-text {
		font-size: 16px;
	}
}
@media (max-width: 424.9px) {
	.section-title {
		font-size: 28px;
		letter-spacing: 0.2em;
	}

	.box-title {
		font-size: 20px;
	}
	.box-text {
		font-size: 14px;
		line-height: 1.7;
	}

	.btn {
		font-size: 14px;
	}
}
@media (max-width: 1199.9px) {
	.works-title {
		font-size: 65px;
		letter-spacing: 0.21em;
	}
	.works-subtitle {
		font-size: 20px;
	}

	.case-half {
		width: 49%;
	}
}
@media (max-width: 991.9px) {
	.works-title {
		font-size: 55px;
		letter-spacing: 0.15em;
	}
	.works-subtitle {
		font-size: 17px;
	}

	.case-content {
		flex-wrap: wrap;
	}
	.case-half {
		width: 100%;
	}
	.case-half-right {
		margin-top: 0;
	}
}
@media (max-width: 767.9px) {
	.works-title {
		font-size: 52px;
	}
	.works-subtitle {
		width: 100%;
		font-size: 15px;
		line-height: 1.8;
	}

	.case-box-price-title {
		font-size: 18px;
	}
	.case-box-price-value {
		font-size: 28px;
	}
}
@media (max-width: 575.9px) {
	.works-content-inner {
		margin-bottom: 10%;
	}
	.works-title {
		font-size: 45px;
	}
	.works-subtitle {
		font-size: 14px;
	}

	.case-box-price-title {
		font-size: 16px;
	}
	.case-box-price-value {
		font-size: 26px;
	}
}
@media (max-width: 424.9px) {
	.works-title {
		font-size: 34px;
		letter-spacing: 0.05em;
	}
	.works-btn {
		font-size: 16px;
		padding-left: 40px;
		padding-right: 40px;
	}
	.works-content-inner {
		margin-bottom: 10%;
	}

	.case-box-price-title {
		font-size: 14px;
	}
	.case-box-price-value {
		font-size: 22px;
	}
}