// Медиа запросы
// Large col-lg- //
@media (max-width: 1199.9px) {
  .contact {
	&-info {
	  font-size: 17px;
	  padding-left: 30px;
	  padding-right: 30px;
	}
  }
  .main-menu {
	text-align: center;
  }
  .absolute-image {
	display: none;
  }
  .btn {
	font-size: 22px;
  }
  .request {
	&-box {
	  &-title {
		width: 55%;
	  }
	}
  }
}

// Medium col-md- //
@media (max-width: 991.9px) {
  .contact {
	&-box {
	  flex-direction: column-reverse;
	}

	&-info {
	  flex-direction: row;
	  justify-content: space-between;
	  width: 100%;
	  padding: 30px 20px 20px;

	  &-acc {
		margin-top: 0;
		margin-bottom: 20px;
	  }
	}

	&-map {
	  width: 100%;
	}

	&-in-logo-wrap {
	  display: none;
	}
  }
  .section {
	&-title {
	  font-size: 38px;
	}
  }
  .box {
	&-title {
	  font-size: 30px;
	}
  }
  .btn {
	font-size: 17px;
  }
  .request {
	&-box {
	  &-title {
		font-size: 18px;
		width: 70%;
	  }
	}

	&-form {
	  &-btn {
		width: 90%;
		margin-left: 5%;
	  }
	}
  }
}

// Small col-sm- //
@media (max-width: 767.9px) {
  .contact {
	&-info {
	  flex-direction: column;
	  font-size: 16px;

	  &-acc {
		margin: 25px 0;
	  }
	}

	&-in-logo-wrap {
	  margin-top: 12px;
	  margin-bottom: 4px;
	  display: block;
	}
  }
  .section {
	&-title {
	  font-size: 34px;
	}
  }
  .btn {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 16px;
  }
  .box {
	&-title {
	  font-size: 28px;
	}

	&-text {
	  font-size: 17px;
	}

	&-price {
	  &-title {
		font-size: 18px;
	  }

	  &-value {
		font-size: 28px;
	  }
	}
  }
  .request {
	&-box {
	  &-title {
		width: 85%;
		font-size: 16px;
	  }
	}
  }
}

// Extra small col- //
@media (max-width: 575.9px) {
  .section {
	&-title {
	  font-size: 32px;
	  letter-spacing: 0.25em;
	}
  }
  .box {
	&-title {
	  font-size: 24px;
	}

	&-text {
	  font-size: 16px;
	}
  }
  .request {
	&-box {
	  &-title {
		width: 92%;
		font-size: 14px;
	  }
	}

	&-form {
	  &-input {
		width: 100%;
	  }

	  &-btn {
		width: 100%;
		margin-left: 0;
	  }
	}
  }
}

// Extra-extra small //
@media (max-width: 424.9px) {
  .section {
	&-title {
	  font-size: 28px;
	  letter-spacing: 0.2em;
	}
  }
  .box {
	&-title {
	  font-size: 20px;
	}

	&-strong {
	  font-size: 22px;
	}

	&-text {
	  font-size: 14px;
	  line-height: 1.7;
	}

	&-body {
	  padding: 10px;
	}

	&-header {
	  padding-left: 10px;
	  padding-right: 10px;
	}
  }
  .btn {
	font-size: 14px;
  }
  .request {
	&-box {
	  &-title {
		font-size: 13px;
	  }
	}
  }
}

//// Конец медиа запросов
