@import "style";

.works {
	padding: 0;
	height: 100vh;
	background-color: #E8E9EA;
	background-image: url('../img/works/main-bg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	&-content {
		display: flex;
		align-items: flex-end;
		height: 100%;
		&-inner {
			text-align: center;
		}
	}
	&-gradient {
		padding: 35px 0;
		height: 100%;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
	}
	&-title {
		@include xbold;
		text-transform: uppercase;
		font-size: 72px;
		line-height: 131%;
		letter-spacing: 0.31em;
		color: $main_color;
		margin-bottom: 15px;
	}
	&-subtitle {
		text-align: center;
		font-size: 24px;
		line-height: 131%;
		letter-spacing: 0.05em;
		color: $light_color;
		width: 94%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
	}
}
.case {
	&-content {
		padding-top: 45px;
		display: flex;
		justify-content: space-between;
	}
	&-box {
		margin-bottom: 35px;
		&-img {
			width: 100%;
			border: 1px solid silver;
			&-wrap {
				max-height: 300px;
				margin-bottom: 22px;
				overflow: hidden;
			}
		}
		&-title {
			font-size: 23px;
			line-height: 1.3;
		}
		&-price {
			background-color: $main_color;
			box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
			&-title {
				display: inline-block;
				text-align: center;
				width: 58%;
				font-size: 20px;
				letter-spacing: 0.05em;
				text-transform: uppercase;
			}
			&-value {
				display: inline-block;
				width: 42%;
				text-align: center;
				background-color: $light_color;
				font-size: 30px;
				line-height: 1.55;
				letter-spacing: 0.05em;
			}
		}
	}
	&-half {
		display: inline-block;
		width: 48%;
		&-right {
			margin-top: 150px;
		}
	}
}
#case-screwdriver {
	height: 440px;
	top: -125px;
	left: -205px;
}
#case-turn-screw {
	height: 420px;
	top: -280px;
	right: -240px;
	left: auto;
}
#case-helmet {
	top: -88px;
	left: -130px;
	height: 280px;
}

@import "style_media";
// Медиа запросы
// Large col-lg- //
@media (max-width: 1199.9px) {
	.works {
		&-title {
			font-size: 65px;
			letter-spacing: 0.21em;
		}
		&-subtitle {
			font-size: 20px;
		}
	}
	.case {
		&-half {
			width: 49%;
		}
	}
}
// Medium col-md- //
@media (max-width: 991.9px) {
	.works {
		&-title {
			font-size: 55px;
			letter-spacing: 0.15em;
		}
		&-subtitle {
			font-size: 17px;
		}
	}
	.case {
		&-content {
			flex-wrap: wrap;
		}
		&-box-title {
			font-size: 21px;
		}
		&-half {
			width: 100%;
			&-right {
				margin-top: 0;
			}
		}
	}
}
// Small col-sm- //
@media (max-width: 767.9px) {
	.works {
		&-title {
			font-size: 52px;
		}
		&-subtitle {
			width: 100%;
			font-size: 15px;
			line-height: 1.8;
		}
	}
	.case {
		&-box {
			&-price {
				&-title {
					font-size: 18px;
				}
				&-value {
					font-size: 28px;
				}
			}
			&-title {
				font-size: 20px;
			}
		}
	}
}
// Extra small col- //
@media (max-width: 575.9px) {
	.works {
		&-content {
			&-inner {
				margin-bottom: 10%;
			}
		}
		&-title {
			font-size: 45px;
		}
		&-subtitle {
			font-size: 14px;
		}
	}
	.case {
		&-box {
			&-price {
				&-title {
					font-size: 16px;
				}
				&-value {
					font-size: 26px;
				}
			}
			&-title {
				font-size: 19px;
			}
		}
	}
}
// Extra-extra small //
@media (max-width: 424.9px) {
	.works {
		&-title {
			font-size: 34px;
			letter-spacing: 0.05em;
		}
		&-btn {
			font-size: 16px;
			padding-left: 40px;
			padding-right: 40px;
		}
		&-content {
			&-inner {
				margin-bottom: 10%;
			}
		}
	}
	.case {
		&-box {
			&-price {
				&-title {
					font-size: 14px;
				}
				&-value {
					font-size: 22px;
				}
			}
			&-title {
				font-size: 16px;
			}
		}
	}
}
//// Конец медиа запросов